{% extends "base.html" %}

{% block title %}Page Home{% endblock title %}

{% block content %}

    {% include "home/includes/sea_carousel.html" %}

    {% include "home/includes/description.html" %}

    {% include "home/includes/features.html" %}

    {% include "home/includes/reasons_features.html" %}

    {% include "home/includes/advices.html" %}

    {% include "includes/registration.html" %}

    {% include "home/includes/team.html" %}

    {% include "home/includes/testimonial.html" %}

    {% include "includes/newsletter.html" %}

{% endblock content %}